In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\sunny\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sunny\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\sunny\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\sunny\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: sniffio in c:\users\sunny\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\sunny\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\users\sunny\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: cffi>=1.14 in c:\users\sunny\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: async-generator>=1.9 in c:\users\sunny\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\sunny\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\users\sunny\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\sunny\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\sunny\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sunny\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\sunny\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\sunny\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\sunny\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\sunny\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sunny\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [4]:
dvr=webdriver.Chrome(r"C:\webdriver\chromedriver.exe")

In [5]:
dvr.get('https://www.naukri.com/')

In [6]:
search1=dvr.find_element_by_class_name("suggestor-input")

In [7]:
search1.send_keys('Data Analyst')

In [8]:
search2=dvr.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')

In [9]:
search2.send_keys('Banglore')

In [10]:
search_button=dvr.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')

In [11]:
search_button.click()

In [12]:
job_titles=[]
company_names=[]
location_list=[]
experience_req=[]

In [13]:
titles_tags=dvr.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [14]:
titles_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="73c8bb3b2498475e5241f953aeea6d50", element="e4925d8f-1d29-4f4a-bcba-26ba317296de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73c8bb3b2498475e5241f953aeea6d50", element="d347c87f-60e8-41af-8aa3-2a19be1b218f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73c8bb3b2498475e5241f953aeea6d50", element="06ff93d6-489e-4ea4-81b8-98c050a87965")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73c8bb3b2498475e5241f953aeea6d50", element="7cd86187-bf68-4f71-81ad-738153b47a2a")>]

In [15]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:4]

['Senior Data Analyst',
 'Sr Data Analyst II',
 'Business analyst + data Analysis',
 'Data Analyst - Alteryx']

In [16]:
company_tags=dvr.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [17]:
company_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="73c8bb3b2498475e5241f953aeea6d50", element="c8787713-39f1-4190-920c-4431adc2dbb0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73c8bb3b2498475e5241f953aeea6d50", element="b7ad384a-e970-400f-8ba3-6c058fa9748b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73c8bb3b2498475e5241f953aeea6d50", element="91a3cfe6-9dde-4370-874a-137ea03847a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73c8bb3b2498475e5241f953aeea6d50", element="ccdc878e-e2f3-4d56-9c60-2ec201584eae")>]

In [18]:
for i in company_tags:
    company1=i.text
    company_names.append(company1)

In [19]:
company_names[0:4]

['Flipkart', 'IHS Markit', 'Anlage Infotech (I) Pvt. Ltd.', 'Capco']

In [20]:
#experience_list

exp_tags=dvr.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="73c8bb3b2498475e5241f953aeea6d50", element="71a7480c-fdc0-4d1f-b409-1c37dfcc33d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73c8bb3b2498475e5241f953aeea6d50", element="2d54d418-3c36-4b69-815c-5bd9f85f2144")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73c8bb3b2498475e5241f953aeea6d50", element="a28afd2d-0b51-4065-8f31-7bf58fb44481")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73c8bb3b2498475e5241f953aeea6d50", element="556cedeb-f26c-4e7b-8bba-922c40f96a85")>]

In [21]:
for i in exp_tags:
    exp=i.text
    experience_req.append(exp)

In [22]:
experience_req[0:4]

['3-7 Yrs', '3-6 Yrs', '5-10 Yrs', '4-7 Yrs']

In [23]:
#location 
loc_tags=dvr.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
loc_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="73c8bb3b2498475e5241f953aeea6d50", element="8cb4f845-9614-4211-8c47-99750a11ec56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73c8bb3b2498475e5241f953aeea6d50", element="7c318361-69b0-4a53-a243-71894d50c2cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73c8bb3b2498475e5241f953aeea6d50", element="9d6c35ff-4a52-408c-96ba-3795c5d6ed6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73c8bb3b2498475e5241f953aeea6d50", element="78b91d76-f41e-497b-9504-a363d2e68439")>]

In [24]:
for i in loc_tags:
    loc=i.text
    location_list.append(loc)
location_list[0:4]

['Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [25]:
print(len(job_titles), len(company_names),len(location_list),len(experience_req))

20 20 20 20

In [26]:
company2=company_names[0:20]
company2

['Flipkart',
 'IHS Markit',
 'Anlage Infotech (I) Pvt. Ltd.',
 'Capco',
 'Flipkart',
 'MILLION MINDS INFOTECH PRIVATE LIMITED',
 'Vmware',
 'CAREERDOST ENTERPRISE',
 'TALENT500 TECH (INDIA) PRIVATE LIMITED',
 'PayPal',
 'upGrad',
 'Thomson Reuters',
 'Synamedia',
 'K12 Techno Services',
 'K12 Techno Services Pvt Ltd',
 'Leading US MNC into analytics',
 'Idyllic Services Pvt Ltd',
 "HUDSON'S BAY SERVICES PRIVATE LIMITED",
 'VOLVO ASSET FINANCE INDIA PRIVATE LIMITED',
 'Myntra']

In [27]:
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Company']=company2
jobs['Experience']=location_list
jobs['Location']=experience_req

In [28]:
jobs

,Title,Company,Experience,Location
0,Senior Data Analyst,Flipkart,Bangalore/Bengaluru,3-7 Yrs
1,Sr Data Analyst II,IHS Markit,"Gurgaon/Gurugram, Bangalore/Bengaluru",3-6 Yrs
2,Business analyst + data Analysis,Anlage Infotech (I) Pvt. Ltd.,"Hyderabad/Secunderabad, Bangalore/Bengaluru",5-10 Yrs
3,Data Analyst - Alteryx,Capco,Bangalore/Bengaluru,4-7 Yrs
4,Consultant - Data Analyst,Flipkart,Bangalore/Bengaluru,1-3 Yrs
5,Hiring For Data Analyst with SAP ABAP & BW - C...,MILLION MINDS INFOTECH PRIVATE LIMITED,Bangalore/Bengaluru\n(WFH during Covid),7-10 Yrs
6,Senior Business Analyst - Data Sciences and Ad...,Vmware,Bangalore/Bengaluru,3-7 Yrs
7,Business and Data Analyst,CAREERDOST ENTERPRISE,Bangalore/Bengaluru\n(WFH during Covid),0-5 Yrs
8,Senior Data Analyst | Lululemon,TALENT500 TECH (INDIA) PRIVATE LIMITED,Bangalore/Bengaluru,5-8 Yrs
9,Data Analyst 2,PayPal,Bangalore/Bengaluru,1-3 Yrs
10,Urgent hiring For Senior Data Analyst,upGrad,Bangalore/Bengaluru,2-7 Yrs
11,Senior Data Analyst,Thomson Reuters,Bangalore/Bengaluru,2-4 Yrs
12,Data Analyst- customer facing,Synamedia,Bangalore/Bengaluru,0-3 Yrs
13,MIS Data Analyst (Sales Analytics) - Bangalore,K12 Techno Services,Bangalore/Bengaluru,3-8 Yrs
14,Data Analyst - IIM/ISB/MDI/FMS/SP Jain,K12 Techno Services Pvt Ltd,Bangalore/Bengaluru,4-9 Yrs
15,SAS Analyst / data Analyst / Business analyst ...,Leading US MNC into analytics,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",2-7 Yrs
16,Senior Data Analyst,Idyllic Services Pvt Ltd,"Pune, Chennai, Gurgaon/Gurugram, Bangalore/Ben...",7-12 Yrs
17,"Analyst, Item Data",HUDSON'S BAY SERVICES PRIVATE LIMITED,Bangalore/Bengaluru,0-2 Yrs
18,Data Analyst,VOLVO ASSET FINANCE INDIA PRIVATE LIMITED,Bangalore/Bengaluru,2-4 Yrs
19,Data Analyst - Python / SQL,Myntra,Bangalore/Bengaluru,1-4 Yrs

In [29]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

In [113]:
dvr2=webdriver.Chrome('C:\webdriver\chromedriver')

In [31]:
dvr2.get('http://www.naukri.com/')

In [32]:
srch2a=dvr2.find_element_by_class_name("suggestor-input ")
srch2a.send_keys("Data Analyst")

In [33]:
srch2b=dvr2.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
srch2b.send_keys("Banglore")

In [34]:
srch_but=dvr2.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
srch_but.click()

In [35]:
jobtitles=[]

t2=dvr2.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
t2[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="bfbfa692d5e2dc59ed6dc17e94fa928c", element="d291a64e-1a06-4ab9-963a-e6b4cfde3a8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bfbfa692d5e2dc59ed6dc17e94fa928c", element="3d22bfaa-fb38-411b-8a1e-ab09e1b09315")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bfbfa692d5e2dc59ed6dc17e94fa928c", element="49f013ab-8a90-4c5e-adaf-a642f8c4c964")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bfbfa692d5e2dc59ed6dc17e94fa928c", element="c0e69538-351a-430a-b13c-e7815e430a37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bfbfa692d5e2dc59ed6dc17e94fa928c", element="3acaf5b1-7b6b-4ee7-99e9-d0d79cced38a")>]

In [36]:
for i in t2:
    title=i.text
    jobtitles.append(title)
jobtitles[0:4]

['Senior Data Analyst',
 'Sr Data Analyst II',
 'Business analyst + data Analysis',
 'Data Analyst - Alteryx']

In [37]:
companynames=[]
c2=dvr2.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
c2[0:4]
for i in c2:
    company=i.text
    companynames.append(company)
    
companynames[0:4]

['Flipkart', 'IHS Markit', 'Anlage Infotech (I) Pvt. Ltd.', 'Capco']

In [38]:
locationlist=[]

l2=dvr2.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
l2[0:4]
for i in l2:
    loc=i.text
    locationlist.append(loc)
locationlist[0:4]

['Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [39]:
experiencelist=[]
e2=dvr2.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in e2:
    exp=i.text
    experiencelist.append(exp)
    
experiencelist[0:4]

['3-7 Yrs', '3-6 Yrs', '5-10 Yrs', '4-7 Yrs']

In [40]:
print(len(experiencelist), len(locationlist),len(companynames),len(jobtitles))

20 20 20 20

In [41]:
jobtitles2=jobtitles[0:20]

In [42]:
df2=pd.DataFrame({'Jobs':jobtitles2, 'Company':companynames, 'Location':locationlist, 'Experience': experiencelist})
df2[0:4]

,Jobs,Company,Location,Experience
0,Senior Data Analyst,Flipkart,Bangalore/Bengaluru,3-7 Yrs
1,Sr Data Analyst II,IHS Markit,"Gurgaon/Gurugram, Bangalore/Bengaluru",3-6 Yrs
2,Business analyst + data Analysis,Anlage Infotech (I) Pvt. Ltd.,"Hyderabad/Secunderabad, Bangalore/Bengaluru",5-10 Yrs
3,Data Analyst - Alteryx,Capco,Bangalore/Bengaluru,4-7 Yrs

# Q4

In [43]:
dvr2.get('http://www.flipkart.com/')

In [44]:
srch4=dvr2.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
srch4.send_keys('sunglassses')

In [47]:
srch4_but=dvr2.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
srch4_but.click()

In [48]:
pplist4=[]
for i in range(0,3):
    pname=dvr2.find_elements_by_xpath("//a[@class='IRpwTa']")
    
    for i in pname:
        product=i.text
        pplist4.append(product)
    nxt_but4=dvr2.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    nxt_but4.click()
    time.sleep(5)

In [49]:
len(pplist4)

119

In [50]:
plist4a=pplist4[0:100]
plist4a[0:4]

['UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...']

In [51]:
clist4=[]
for i in range(0,3):
    cname=dvr2.find_elements_by_xpath("//div[@class='_2WkVRV']")
    
    for i in cname:
        company=i.text
        clist4.append(company)
    nxt_but4=dvr2.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    nxt_but4.click()
    time.sleep(6)
clist4[0:4]

['VINCENT CHASE', 'PETER JONES', 'elegante', 'NuVew']

In [52]:
clist4a=clist4[0:100]

In [53]:
prlist4=[]
for i in range(0,3):
    prname=dvr2.find_elements_by_xpath("//div[@class='_30jeq3']")
    
    for i in prname:
        price=i.text
        prlist4.append(price)
    nxt_but4=dvr2.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    nxt_but4.click()
    time.sleep(6)

In [54]:
prlist4[0:4]

['₹599', '₹278', '₹197', '₹198']

In [55]:
prlist4a=prlist4[0:100]

In [56]:
dlist4=[]
for i in range(0,3):
    dname=dvr2.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    
    for i in dname:
        discount=i.text
        dlist4.append(discount)
    nxt_but4=dvr2.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    nxt_but4.click()
    time.sleep(6)
dlist4[0:4]

['70% off', '77% off', '86% off', '80% off']

In [57]:
dlist4a=dlist4[0:100]

In [58]:
len(dlist4a)

100

In [59]:
df4=pd.DataFrame({"Product Name":plist4a , "Company Name":clist4a , "Price":prlist4a , "Discount":dlist4a})
df4[0:5]

,Product Name,Company Name,Price,Discount
0,UV Protection Wayfarer Sunglasses (Free Size),VINCENT CHASE,₹599,70% off
1,"UV Protection, Polarized Wayfarer Sunglasses (...",PETER JONES,₹278,77% off
2,UV Protection Rectangular Sunglasses (Free Size),elegante,₹197,86% off
3,"Gradient, Toughened Glass Lens, UV Protection ...",NuVew,₹198,80% off
4,UV Protection Aviator Sunglasses (54),Ray-Ban,₹759,62% off

# Q6

In [60]:
dvr2.get("https://www.flipkart.com/")

In [61]:
srch6=dvr2.find_element_by_xpath("/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
srch6.send_keys("sneakers")

In [62]:
srch_but6=dvr2.find_element_by_xpath("/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
srch_but6.click()

In [67]:
plist6=[]
for i in range(0,4):
    pname6=dvr2.find_elements_by_xpath("//a[@class='IRpwTa']")
    
    for i in pname6:
        product6=i.text
        plist6.append(product6)
    nxt_but6=dvr2.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    nxt_but6.click()
    time.sleep(5)

In [68]:
plist6a=plist6[0:100]
plist6a[0:3]

['Fashionable casual sneakers shoes Sneakers For Men',
 'Lazy Knit Slip On Sneakers For Men',
 'Sneakers For Men']

In [69]:
len(plist6a)

100

In [70]:
blist6=[]
for i in range(0,3):
    bname6=dvr2.find_elements_by_xpath("//div[@class='_2WkVRV']")
    
    for i in bname6:
        company6=i.text
        blist6.append(company6)
    nxt_but6=dvr2.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    nxt_but6.click()
    time.sleep(5)

In [72]:
blist6a=blist6[0:100]
blist6a[0:4]

['KANEGGYE', 'NAUTICA', 'PUMA', 'HOC']

In [73]:
len(blist6a)

100

In [74]:
costlist6=[]
for i in range(0,3):
    costname6=dvr2.find_elements_by_xpath("//div[@class='_30jeq3']")
    
    for i in costname6:
        cost6=i.text
        costlist6.append(cost6)
    nxt_but6=dvr2.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    nxt_but6.click()
    time.sleep(5)

In [75]:
costlist6a=costlist6[0:100]
costlist6a[0:4]

['₹209', '₹1,272', '₹3,949', '₹399']

In [76]:
len(costlist6a)

100

In [77]:
dlist6=[]
for i in range(0,3):
    dname6=dvr2.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    
    for i in dname6:
        discount6=i.text
        dlist6.append(discount6)
    nxt_but6=dvr2.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    nxt_but6.click()
    time.sleep(5)

In [78]:
dlist6a=dlist6[0:100]
dlist6a[0:4]

['79% off', '71% off', '50% off', '80% off']

In [79]:
len(dlist6a)

100

In [83]:
df6=pd.DataFrame({"Product Name":plist6a, "Brand Name":blist6a, "Price":costlist6a, "Discount":dlist6a})
df6[0:4]

,Product Name,Brand Name,Price,Discount
0,Fashionable casual sneakers shoes Sneakers For...,KANEGGYE,₹209,79% off
1,Lazy Knit Slip On Sneakers For Men,NAUTICA,"₹1,272",71% off
2,Sneakers For Men,PUMA,"₹3,949",50% off
3,X-Ray Square Celestial Sneakers For Men,HOC,₹399,80% off